<header class="my-0">
  <nav class="bb-navbar navbar navbar-expand-md navbar-light merri">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('ecommerce.home') }}">MyShop</a>
          </li>
          {% include "partiales/categorie.html.twig" %}
        </ul>
        <ul class="navbar-nav">
          {% if is_granted('ROLE_ADMIN') %}

          <li class="nav-item dropdown me-5">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Administration
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{ path('ecommerce.users') }}"
                  >Utilisateur</a
                >
              </li>
              <li class="nav-item me-5">
                <a class="nav-link" href="{{ path('admin.categorie.home') }}"
                  >Category</a
                >
              </li>
              <li class="nav-item me-5">
                <a class="nav-link" href="{{ path('app_sub_category_index') }}"
                  >Sous Categorie</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="{{ path('app_product_index') }}"
                  >les produits</a
                >
              </li>
            </ul>
          </li>
          {% endif %} {% if is_granted('ROLE_USER') == false %}

          <li class="nav-item me-5">
            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
          </li>
          {% else %}
          <li class="nav-item me-5">
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
